.banner2{
    padding-top: -10vh;
    height:80vh;
    margin-bottom:-80px;
    color:white;
    object-fit: contain;
}
.content{
    margin-left: 50px;
    margin-top: 0;
    height:200px;
    
}
.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;

}
.description{
    width:45rem;
    line-height:1;
    padding:1rem 0;
    font-size:1rem;
    max-width:360px;
    height:80px
}
.button{
    cursor:pointer;
    color:#fff;
    outline:none;
    border:none;
    font-size: 1.2rem;
    font-weight:700;
    border-radius:0.2rem;
    padding:1rem 3rem;
    margin-right: 2rem;
    margin-left:1rem;
    background-color: rgba(51,51,51,0.5);
}
.play{
    color: #000;
    background-color: #fff;
}
.button:hover{
    color:#000;
    background-color: #c6c6c6;
    transition: all 0.2em;

}
.fadebutton{
    height:40vh;
    background-image: linear-gradient(

    180deg,
    transparent,
    rgba(37,37,37,0.91)
    #111
    );
}